html, body {
    height : 100%;
}

body {
    margin : 0;
    padding : 0;
    transition: background-color 1s;
}

body.isLoading {
    background-color: rgba(26, 41, 66, 0.9) !important;
}

#loadingScreen {
    position : absolute;
    width : 320px;
    height : 182px;
    top : 50%;
    left : 50%;
    margin-top : -91px;
    margin-left : -160px;
    z-index : 999;
}

.fade {
    transition: opacity 1000ms;
}

.hide {
    opacity: 0;
    z-index: 0;
}
