doctype html
html(lang="en")
  head
    title= title
  body
      script(src='https://cdn.socket.io/socket.io-1.4.5.js', type="application/javascript")
      script(src='/loader.js', type="application/javascript")
      div
        | I'm on pid #
        = pid
      = content
      form(name="add", method="post")
        div.input
            span.label Send to server
            input(type="text", name="data", id="data")
        div.actions
            input(type="submit", value="add")
